<?xml version="1.0"?>

<launch>
  <arg name="robot_name"    default="alpha"/>

  <group ns="multi_mcl">
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find amcl)/param/localization_params.yaml" command="load"/>
      <rosparam file="$(find orne_navigation_executor)/param/localization_params_$(arg robot_name).yaml" command="load"/>
      <remap from="scan" to="/scan"/>
    </node>
  </group> -->
  <group ns="er_mcl">
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find amcl)/param/localization_params.yaml" command="load"/>
      <rosparam file="$(find orne_navigation_executor)/param/localization_params_$(arg robot_name).yaml" command="load"/>
      <param name="use_multi_mcl" type="bool" value="false"/>
      <param name="tf_broadcast" type="bool" value="false"/>
      <remap from="scan" to="/scan"/>
    </node>
  </group>
  <group ns="mcl">
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find amcl)/param/localization_params.yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/localization_params_$(arg robot_name).yaml" command="load"/>
    <param name="use_multi_mcl" type="bool" value="false"/>
    <param name="reset_th_alpha" type="double" value="0.0"/>
    <param name="do_expansion_resettings" type="bool" value="false"/>
    <param name="tf_broadcast" type="bool" value="false"/>
    <remap from="scan" to="/scan"/>
  </node>
</group>
</launch>
